@using la_mia_pizzeria_static.Models
@{
    Layout = "Guest/_Layout";
}
@model List<Pizza>;
<div></div>
<div class="container debug">
    
    <div class="row debug">
        <div class="col-12 col-md-6 debug about">
        </div>
         <div class="col-12 col-md-6 debug">
             <h2>About us</h2>
             <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
                 It has roots in a piece of classical Latin literature from 45 BC, 
                 making it over 2000 years old. Richard McClintock, a Latin professor 
                 at Hampden-Sydney College in Virginia, looked up one of the more obscure 
                 Latin words, consectetur, from a Lorem Ipsum passage, and going through 
                 the cites of the word in classical literature, discovered the undoubtable 
                 source. 
             </p>
        </div>


    </div>

</div>

