@using la_mia_pizzeria_static.Models

@{
    Layout = "Guest/_Layout";
}
@model List<Pizza>;


<div class="container list-container pizza-container">

    <h2 class="my-3">Pizze</h2>       
    

    <div class="no-result p-3">
        <h4>Non ci sono Pizze al momento</h4>
    </div>

    <div class="result ">
        <div class="d-flex justify-content-end py-3 align-items-center">
            <h5>cerca per nome</h5>
            <input type="text" class="form-control searcher ms-2" placeholder="Cerca per nome...">
        </div>
        <div class="card-container row">

        </div>

      
       
    </div>
</div>
        

    <script type="text/javascript">
        
        getPizzas("");
        document.querySelector('.no-result').classList.add('d-none');
        document.querySelector(".searcher").addEventListener('keyup',searchPizza);


        function searchPizza(){

            let userString = this.value;
            getPizzas(userString);
            //implementare timing function       
            
        }
        

        function getPizzas(string){

            axios.get('/api/pizza/get',{
                params:{
                    name: string
                }
            })
            .then(res=>{

                console.log("response ok", res)
                let itemsCollection = res.data;

                if(itemsCollection.lenght == 0 ){

                    noResult();

                }else{

                    document.querySelector('.card-container').innerHTML = "";
                   
                    getCards(itemsCollection);
                }
            })
            .catch(err=>{
                console.log(err);
                document.querySelector('.result').innerHTML +=
                `
                 <div class="p-3">
                    <h4>${err.message}</h4>
                </div>
                `
            })

        }

        //stampa se la ricerca è senza risultati
        function noResult(){

            document.querySelector('.no-result').classList.remove('d-none');
            document.querySelector('.result').classList.add('d-none');
        }
       
        //stampa la collection di card nell'html
        function getCards(collection){

            collection.forEach(pizza => {

                let ingredients = '';
               for(let i=0; i< pizza.ingredients.length; i++){
                   ingredients += `${pizza.ingredients[i].name}; `;
               }              
            
                document.querySelector('.card-container').innerHTML +=
                `
                <a href="/Home/Show/${pizza.id}">
                    <div class="col-12 col-lg-6 debug border-r py-3 mb-3 bg-card">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-6">
                                    <img class="border-r w-100" src="${pizza.image}" alt="${pizza.name}">
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center">
                                    <div class="text">
                                        <h3>${pizza.name}</h3>
                                        <h6 class="mb-0">Categoria: ${pizza.category.name}</h6>
                                        <h6 class="mb-0">Euro: ${pizza.price}</h6>
                                        <h6>Ingredienti: ${ingredients} </h6>                         
                                    </div>
                                </div>
                                <div class="btn-box d-flex justify-content-end mt-2">
                                    <a class="btn_show px-3 py-2 rounded-pill" href="">Acquista</a>            
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                `;
           
            });
        }




    </script>




