@using la_mia_pizzeria_static.Models;

@{
    Layout = "Guest/_Layout";
}

<div class="container bg-beige debug p-4">
    <form id="@ViewData["id"]" class="form-js">

        <div class="mb-3">
            <strong>Nome pizza:</strong>
            <input  class="d-block w-100 name" />
            <span  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea class="form-control description"></textarea>
            <span class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Immagine:</strong>
            <input  class="d-block w-100 image"/>
            <span  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Categoria:</strong>
            <select class="form-select categories" >
                <option value="">Seleziona la categoria</option>
            </select>
            <span class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <select multiple="multiple"
            size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList ingredients" >

             </select>
            
        </div>        

        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input class="d-block w-100 price" step=".50" min="0" max="100"/>
            <span  class="text-danger"></span>
        </div>

        <div class="text-end">
            <input onclick="sendData(@ViewData["id"])" class="btn btn-small  btn-secondary" value="Salva">
        </div>

    </form>
</div>

<script type="text/javascript">

    //INIT
    getData(); 
    
    //GET ALL OLD DATA
    function getData(){
        let id = document.querySelector('.form-js').id;
        axios.get('/api/pizza/show/' + id)
        .then(res=>{
            const pizza = res.data;
            console.log(pizza);
            document.querySelector('.name').value = pizza.name;
            document.querySelector('.description').value = pizza.description;
            document.querySelector('.image').value = pizza.image;
            document.querySelector('.price').value = pizza.price;
            
            getIngredients(pizza.ingredients);
            getCategories(pizza.category);
            
        })
        .catch(err=>{
            console.log("pizza-error",err.message);
        })

    }
    //GET INGREDIENTS
    function getIngredients(ingredients){

        const ingrString =[];
        for(let ing in ingredients){
            ingrString.push(ingredients[ing].name);
        }

        axios.get('/api/ingredient/get')
        .then(r=>{

            const select = document.querySelector('.ingredients');

            for(let ing in r.data){

                if(ingrString.includes(r.data[ing].name)){

                select.innerHTML+=
                    `<option selected value="${r.data[ing].id}">${r.data[ing].name}</option>`
                }else{

                select.innerHTML+=
                    `<option value="${r.data[ing].id}">${r.data[ing].name}</option>`
                }    

            }
            
        })
        .catch(e=>{
            console.log("ingredients-error", e);
        })
    }

    //GET CATEGORY
    function getCategories(category){
        axios.get('/api/category/get')
        .then(r=>{

            const select = document.querySelector('.categories');

            for(let cat in r.data){
                console.log(r.data[cat].name);
                
                if(category.id == r.data[cat].id){

                select.innerHTML+=
                    `<option selected value="${r.data[cat].id}">${r.data[cat].name}</option>`
                }else{

                select.innerHTML+=
                    `<option value="${r.data[cat].id}">${r.data[cat].name}</option>`
                }    
            }

        })
        .catch(e=>{
            console.log("ingredients-error", e);
        })

    }
    //PUT FUNCTION           
    function sendData(id){

        //axios.put('/api/pizza/Put'+id,{
        //    name: document.querySelector("#Title").value,
        //    description: document.querySelector("#Text").value,
        //    img: document.querySelector("#Name").value,
        //    prezzo: document.querySelector("#Email").value,
        //})
      
    }
    
</script>





