html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*pizze*/
.debug {
    border: 1px solid black;
    border-radius: 5px;
}

.btn_show {
    background-color: #FB8839;
    color: white;
    border: 0;
    text-decoration: none;
    transition: all 1s;
}
.btn_show:hover {
    background-color: white;
    color: #FB8839;
}


.border {
    border: 1px solid black;
}

.border-r {
    border-radius: 5px;
}

.jumbotron {
    height: 70vh;
    background-image: url("../img/bg-jumbo.png");
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    color: white;
}

    header .nav-link {
        color: white;
        font-size: 1.1rem;
    }

.list-container img {
    height: 200px;
}

.bg-card {
    background-color: #EFE9E4;
}
.about{
    height:50vh;
}
.about img{
    background-image: url(../img/about-img.png);
    background-position:center;
    background-size:cover;
}